@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,200;1,300;1,400;1,500;1,600&family=Open+Sans:wght@600&family=Oswald:wght@300&family=Rubik&display=swap');

.df{
    display: flex;
    justify-content: center;
   padding: 100px 0;
    gap: 100px;
    

}
*{
    font-family: 'Jost', sans-serif;
}
.footer{
    background-color: #f9f9f9;
    width: auto;
    height: auto;
}
.lu{
    font-size: 36px;
    text-align: left;
}
.pel{
    text-align-last: left;
   margin-top: 30px;
   margin-bottom: 30px;
   line-height: 30px;

}
.pele{
    text-align-last: left;
    margin-top: 40px;
    cursor: pointer;
}
.pele:hover{
    color: red;
}
.help{
    line-height: 40px;
}
.help h3{
font-size: 22px;
}
h4{
    color: black;
}
.logos{
    color: #666;
    cursor: pointer;
}


.lineup:hover{
    transform: scaleX(1);
    color: rgb(255, 0, 0);
    cursor: pointer;
}
